#footer
  div
    p 友情链接
    p
      a(href='http://www.volunteering-hk.org/tc') 香港义工
      | |
      a(href='http://gongyi.qq.com') 腾讯基金会
      | |
      a(href='http://www.charity.gov.cn/fsm/sites/newmain/index2.jsp') 中国公益慈善网
      | |
      a(href='http://www.naradafoundation.org/') 南都公益基金会
      | |
      a(href='http://www.onefoundation.cn/') 壹基金
      | |
      a(href='http://www.lnfund.org/cn/index.aspx') 老牛基金会
      | |
      a(href='http://www.fupin.org.cn/') 中国扶贫基金会
    p
      a(href='http://www.cctf.org.cn/') 中国儿童少年基金会
      | |
      a(href='http://www.xzfamily.com/') 珠海饭米粒网
      | |
      a(href='http://www.xiangzhouqqh.com/portal.php') 香洲亲青汇
      | |
      a(href='www.zhguoxue.com') 珠海国学网
      | |
      a(href='http://www.beida100.com/') 北大百年学习网
  div
    p 版权：珠海市香洲区点点工益青少年发展服务中心 粤ICP备1303983号
    p
      a(href='http://weibo.com/weidesign20131215') 技术支持：中山大学维艾工作室
