mixin posts(posts)
  #posts
    h2 最近动态
    each post in posts
      .post
        a.cover(href='/post/' + post._id)
          img(alt='cover', src=post.cover)
        .right
          h3.title
            a.generalA(href='/post/' + post._id)= post.title
          h4= formatDate(post.createdAt)
          p.digest= post.digest
        .footer
          a.generalA(href='/post/' + post._id) 详情&gt;|
        .clear