div#apply-aiding
  div#apply-process
    span
      |阅读申请资助
      br
      |条件说明
    span
      |填写申请表格发送给
      br
      |点点公益审核部门
    span
      |两个工作日内得到
      br
      |点点公益回复
    span
      |点点公益
      br
      |核实情况
    span
      |通过或者
      br
      |驳回申请
  div#apply-intro
    h2 申请资助条件
    div
      p 以下内容只是文字，不是点点公益申请资助条件。
      p
        |1.以下内容只是文字，不是点点公益申请资助条件以下内容只是文字，不是点点公益申请资助条件以下内容只是文字，不是点点公益申请资助条件以下内容只是文字，不是点点公益申请资助条件以下内容只是文字，不是点点公益申请资助条件以下内容只是文字，不是点点公
        |益申请资助条件以下内容只是文字，不是点点公益申请资助条件以下内容只是字，不是点点公益申请资助条件
      p 2.以下内容只是文字，不是点点公益申请资助条件。以下内容只是文字，不是点点公益申请资助条件。
      p
        |3.以下内容只是文字，不是点点公益申请资助条件以下内容只是文字，不是点点公益申请资助条件以下内容只是文字，不是点点公益申请资助条件以下内容只是文字，不是点点公益申请资助条件以下内容只是文字，不是点点公益申请资助条件以下内容只是文字，不是点点公益申请资助条件以下内容只是文字，不是点点公益申请资助条件
      p 4.以下内容只是文字，不是点点公益申请资助条件以下内容只是文字，不是点点公益申请资助条件
      p 5.以下内容只是文字，不是点点公益申请资助条件
  div#entries
    a.btn.btn-large.btn-primary(href='/aiding/apply/school') 学校申请资助入口
    a.btn.btn-large.btn-primary(href='/aiding/apply') 个人/家庭申请资助入口
