#account-info
  a(href="/signin") 登录
  a(href="/signup") 注册

  //- a(href="/profile") 用户名
  //- a(href="/logout") 退出

#header
  #headline
    h1 点点公益青少年服务发展中心
    h4 Diandian Youth Development Service Center
    h4 汇聚点点力量，实现圆梦助学使命！
    a#cover(href="/")
